* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  margin-left: 250px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #323639;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.user-img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid #EEE
}

.account-heading {
  font-size: 2.5rem;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3.5rem;
  height: 100vh;
  width: 250px;
  background-color: #323639;
  padding: 0.4rem 0.8rem;
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.8rem 0 0 1rem;
}

.user p {
  color: #fff;
  margin: 0 0 0 1rem;
}

.bold {
  font-weight: 600;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  width: 90%;
  height: 50px;
  margin: 0.8rem auto;
  line-height: 50px;
}

.sidebar ul li a {
  color: #FFF;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}

.sidebar ul li a:hover {
  background-color: #FFF;
  color: #323639;
}

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}
